@import "base";
@import "about";
@import "form";

.section_color {
    background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
    border-radius: 0px 0px 12px 12px;
}

.header {
    
    &_container {
        max-width: 1920px;
        padding: 50px 160px;
        margin: 0 auto 314px;
        display: flex;
        justify-content: space-between;
    }
}
.header_menu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 13px;
}

.header_top {
    display: flex;
    gap: 6px;

    .language {
        display: flex;
        gap: 14px;
        padding: 5px 2px;
        z-index: 2;

        p {
            @include text_big_p;
        }
    }

    .adress p {
        @include text_small_p;
        padding: 2px 2px;
    }

    .number p {
        @include header_small_p;
        padding: 2px 2px;
    }

    .img_dot {
        padding: 1px 2px;
    }
}

.header_nav {
    z-index: 2;

    a {
        @include text_xs_a;
        margin-left: 5px;
    }
}

.language p:hover {
    background: $text_color_pink;
    border-radius: 8px;
    padding: 1px 4px;
}

.container_top_color {
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    
    .text_centure h4 {
        @include text_h4;
        text-align: center;
        margin-bottom: 404px;
        position: relative;
        z-index: 1;
    }
}

.icon {
    margin: 0 auto 66px;
}

.circle {
    position: relative;
    z-index: 2;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    opacity: 0.5;
    border: 2px solid $text_color_white;

    .arrow {
        position: absolute;
        width: 18px;
        height: 18px;
        border-left: 2px solid $text_color_white;
        border-bottom: 2px solid $text_color_white;
        top: 43%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-45deg); 
    }
}

.circle:hover {
    border: 2px solid $text_color_pink;
}

.arrow:hover {
    border-left: 2px solid $text_color_pink;
    border-bottom: 2px solid $text_color_pink;
}

.container_bottom_color {
    display: flex;
    justify-content: space-between;
    padding: 19px 28px; 
}

.background {
    margin: 0 auto;
    position: absolute;
    top: -479px;
    left: 286px;
    z-index: 0;

    img {
        height: 1000px;
    }
}

.left_side {
    border-right: 4px solid rgba(255, 255, 255, 0.3);
    padding: 20px 39px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    h4 {
        @include text_h4;
        color: $text_color_grey;
        margin-bottom: 30px;
    }

    .gradient {
        @include text_gradient;
    }
}

.left_side h4:hover {
    color: $text_color_pink;
}

.right_side {
    max-width: 900px;
    padding: 83px 0 0 23px;

    h5 {
        @include text_h5;
        margin-bottom: 30px
    }

    p {
        @include text_main_p;
    }
}

.container_main_color {
    max-width: 1625px;
    margin: 0 auto;
    padding: 3px 11px;

    .text_color h4 {
        @include text_gradient_pink;
        margin-bottom: 60px;
    }
}

.link_arrow {
    display: inline-flex;
    align-items: center;
    @include text_s_a;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 10px;

    &::after {
        content: "";
        display: inline-flex;
        width: 4px;
        height: 4px;
        border-top: 1px solid #24A3FF;
        border-right: 1px solid #24A3FF;
        transform: rotate(45deg);
        margin-left: 7px;
        margin-top: 2px;
    }
}

.link_arrow:hover {
    color: $text_color_pink;
}

.link_arrow:hover::after {
    border-top: 1px solid #F0145A;
    border-right: 1px solid #F0145A;
}
    
.main_block {
    display: flex;
    flex-wrap: wrap;

    .title_first {
        max-width: 494px;
        margin-right: 60px;
        padding-bottom: 58px;

        .small_text {
            padding-top: 26px;

            a {
                @include text_s_a;
            }
    
            p {
                @include text_small_p;
                line-height: 26px;
                margin-top: 17px;
            }
        }
    }
}

.title_first:nth-child(3n) {
    margin-right: 0;
}

.shadow_first {
    max-width: 1880px;
    height: 10px;
    margin: 0 auto;
    background: #CACADB;
    border-radius: 0px 0px 12px 12px;
}

.shadow_second {
    max-width: 1840px;
    height: 10px;
    margin: 0 auto 58px;
    background: #E7E7F2;
    border-radius: 0px 0px 12px 12px;
}

.container_second {
    max-width: 1600px;
    margin: 0 auto 26px;
    display: flex;
    background: #F5F5FA;
    border-radius: 12px;

    .text_block {
        padding: 28px 30px;

        h4 {
            @include text_gradient_pink;
            margin-bottom: 30px;
        }

        p {
            @include header_small_p;
            color: $text_color_grey;
            margin-bottom: 4px;
        }

        .small_size {
            @include text_small_p;
            color: $text_color_grey;
        }
    }
}

.container_middle {
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;

    &_item {
        display: flex;
        justify-content: center;
        gap: 16px;

        &_circule {
            width: 16px;
            height: 16px;
            border-radius: 50%;
            border: 1px solid #24A3FF;
            background: #24A3FF;
            opacity: 0.5;
            cursor: pointer;
        }
    }

    &_text {
        @include text_big_p;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #323264;
        margin-bottom: 28px;
    }
}

.container_middle_item_circule:hover {
    opacity: 1;
}

.container_sponsors {
    max-width: 1720px;
    margin: 0 auto 61px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.container_sponsors img:first-child {
    border-radius: 12px 0 0 0;
}
.container_sponsors img:nth-child(4) {
    border-radius: 0 12px 0 0;
}

.container_sponsors img:nth-child(9) {
    border-radius: 0 0 0 12px;
}

.container_sponsors img:nth-child(12) {
    border-radius: 0 0 12px 0;
}

.section_bottom {
    background: #F5F5FA;
}

.container_bottom {
    max-width: 1600px;
    margin: 0 auto;

    .text_gradient_bottom {
        padding: 29px 1px 30px;

        .gradient_text {
            @include text_gradient_pink;
        }
    }
}

.menu_bottom {
    display: flex;
    gap: 30px;
    margin-bottom: 33px;

    .first_block {
        max-width: 514px;
        background: $text_color_white;
        border-radius: 8px;
    }
}

.text_block_bottom {
    padding: 25px 30px 0;

    a {
        @include header_small_p;
        color: $text_color_blue;
    }

    h6 {
        @include text_big_p;
        color: $text_color_grey;
        padding: 14px 0;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    p {
        @include text_small_p;
        color: $text_color_black;
        font-size: 14px;
        line-height: 22px;
        border-top: 2px solid #E6E6F0;;
        padding: 18px 0;
        margin-bottom: 10px;
    }
}

.footer {
    max-width: 1600px;
    margin: 0 auto;
    border-top: 2px solid #E6E6F0;
    display: flex;
    justify-content: space-between;
    padding: 30px 0 39px;

    &_left {

        display: flex;
        flex-direction: column;
        gap: 20px;

        &_top {
            display: flex;
            gap: 10px;

            &_adres {
                @include text_small_p;
                color: #323264
            }

            &_map {
                @include text_big_p;
                color: $text_color_blue;
                padding: 4px 0 2px;
                letter-spacing: 1px;
                text-transform: uppercase;
            }
        }
        
        &_bottom {
            display: flex;
            gap: 10px;

            &_number {
                @include header_small_p;
                color: #46466E;
                padding: 9px 0;
            }

            &_dot {
                padding: 7px 0;
            }

            &_email {
                @include header_small_p;
                color: #24A3FF;
                padding: 9px 0;
            }
        }
    }

    &_right {
        @include text_small_p;
        color: #B3B3BA;
    }
}

@media screen and (max-width: 1440px) {
    
    .header {
        
        &_container {
            max-width: 1440px;
            padding: 48px 59px;
            margin: 0 auto 215px;
        }
    }
    
    .container_top_color {
        
        .text_centure h4 {
            
            margin-bottom: 303px;
        }
    }
    
    .container_bottom_color {  
        justify-content: center;
    }
    
    .background {
        top: -378px;
        left: 372px;
       
        img {
            height: 798px;
        }
    }
    
    .left_side {
        padding: 20px 60px 0 0;
    }
    
    .right_side {
        max-width: 630px;
        padding: 50px 0 0 60px;
    }
    
    .container_main_color {
        max-width: 1440px;
        padding: 23px 32px 0 59px;
    
        .text_color h4 {
            @include text_gradient_pink;
            margin-bottom: 60px;
        }
    }
        
    .main_block {
    
        .title_first {
            max-width: 400px;
        }
    }
    
    .container_second {
        max-width: 1320px;
    
        .photo {
            display: flex;
        }
    }
    
    .container_middle {
        max-width: 1440px;
        // margin: 0 auto;
        // display: flex;
        // flex-direction: column;
        // align-items: center;
        // gap: 60px;
    
        // &_item {
        //     display: flex;
        //     justify-content: center;
        //     gap: 16px;
    
        //     &_circule {
        //         width: 16px;
        //         height: 16px;
        //         border-radius: 50%;
        //         border: 1px solid #24A3FF;
        //         background: #24A3FF;
        //         opacity: 0.5;
        //         cursor: pointer;
        //     }
        // }
    
        // &_text {
        //     @include text_big_p;
        //     font-size: 14px;
        //     line-height: 17px;
        //     letter-spacing: 1px;
        //     text-transform: uppercase;
        //     color: #323264;
        //     margin-bottom: 28px;
        // }
    }
    
    // .container_middle_item_circule:hover {
    //     opacity: 1;
    // }
    
    .container_sponsors {
        max-width: 1440px;
        // margin: 0 auto 61px;
        // display: grid;
        // grid-template-columns: repeat(4, 1fr);

        img {
            max-width: 360px;
        }
    }
    
    .container_sponsors img:first-child {
        border-radius: 12px 0 0 0;
    }
    .container_sponsors img:nth-child(4) {
        border-radius: 0 12px 0 0;
    }
    
    .container_sponsors img:nth-child(9) {
        border-radius: 0 0 0 12px;
    }
    
    .container_sponsors img:nth-child(12) {
        border-radius: 0 0 12px 0;
    }
    
    .section_bottom {
        background: #F5F5FA;
    }
    
    .container_bottom {
        max-width: 1600px;
        margin: 0 auto;
    
        .text_gradient_bottom {
            padding: 29px 1px 30px;
    
            .gradient_text {
                @include text_gradient_pink;
            }
        }
    }
    
    .menu_bottom {
        display: flex;
        gap: 30px;
        margin-bottom: 33px;
    
        .first_block {
            max-width: 514px;
            background: $text_color_white;
            border-radius: 8px;
        }
    }
    
    .text_block_bottom {
        padding: 25px 30px 0;
    
        a {
            @include header_small_p;
            color: $text_color_blue;
        }
    
        h6 {
            @include text_big_p;
            color: $text_color_grey;
            padding: 14px 0;
            letter-spacing: 1px;
            text-transform: uppercase;
        }
    
        p {
            @include text_small_p;
            color: $text_color_black;
            font-size: 14px;
            line-height: 22px;
            border-top: 2px solid #E6E6F0;;
            padding: 18px 0;
            margin-bottom: 10px;
        }
    }
    
    .footer {
        max-width: 1600px;
        margin: 0 auto;
        border-top: 2px solid #E6E6F0;
        display: flex;
        justify-content: space-between;
        padding: 30px 0 39px;
    
        &_left {
    
            display: flex;
            flex-direction: column;
            gap: 20px;
    
            &_top {
                display: flex;
                gap: 10px;
    
                &_adres {
                    @include text_small_p;
                    color: #323264
                }
    
                &_map {
                    @include text_big_p;
                    color: $text_color_blue;
                    padding: 4px 0 2px;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                }
            }
            
            &_bottom {
                display: flex;
                gap: 10px;
    
                &_number {
                    @include header_small_p;
                    color: #46466E;
                    padding: 9px 0;
                }
    
                &_dot {
                    padding: 7px 0;
                }
    
                &_email {
                    @include header_small_p;
                    color: #24A3FF;
                    padding: 9px 0;
                }
            }
        }
    
        &_right {
            @include text_small_p;
            color: #B3B3BA;
        }
    }
    
}